.code-project-box, .mission-box, .occupation-box, .me-box, .side-project-box, .con-box {
	display: none;
}

.visibleBox {
	display: block;
}

.box-sized {
	min-height: 15em;
}

.desktop-box {
	margin:auto;
	width:80%;
}

.annotation{
	text-align: right;
}
